@page "{id:int}"
@model WebAplication1.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Customer - @Model.Customer.Id</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Customer.Id" type="hidden" />
    <div>
        <label asp-for="Customer.Name" />
        <div>
            <input asp-for="Customer.Name" />
            <span asp-validation-for="Customer.Name"></span>
        </div>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<p>"Enter your Name: "</p>
<form method="post">
    <div asp-validation-sumary="All"></div>
    <div> Name: <input asp-for= "Customer.Name" /></div>
    <input type="submit"/>
</form>